.anomaly {
    font-weight: bold;
    color: red; /* Adjust the color as needed */
  }
.eda-wrapper{
    h4{
        font-weight: bold;
        margin-bottom: 20px;
    }
    .anomalies-table-wrapper{
        overflow-y: auto;
        overflow-x: hidden;

        max-height: 50vh;
        margin-bottom: 20px;
    }
}