.clustering-wrapper {

    >div {
        display: flex;
        overflow: hidden;
        padding: 8px;
        >div {
            width: auto;
            min-width: 200px;
            margin: 8px;
            height: 40px;
            >div{
                margin: 0;
            }
        }
    }
}

#menu- {
    .MuiPaper-root {
        width: auto;
        left: 37px;
    }
}

.cluster-table-wrapper{
    margin-top: 20px;
    >div{
        padding-left: 8px;
        >div{
            padding-left: 24px;
        }
    }
    .axes-wrapper > div{
        margin-right: 10px;
        width: 7%;
    }
    .axes-graph-btn{
        height: 40px;
        margin-top: 0;
        &.btn-grey{
            background-color: #BCC0C2;
            border: 0;
          }
    }
    .table-wrapper{
        margin-top: 20px;
        width: 80%;
        border-radius: 0;
    }
}

