.tabular-report-wrapper {
  position: relative;
  margin-left: 8px;
  .regression-btn {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px;
    // text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  }
}

p {
  margin-bottom: 0;
}
