@import "../../variable.scss";
.header {
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .logo img {
    height: 30%; /* Adjust the height as needed */
    width: 30%;
  }
  
  .title {
    margin-left: 20px;
  }