.eda-wrapper {
    table {
        width: auto;
    }
    
    span {
        font-size: 14px;
    }

    div {

        &.anomaly,
        &.summary {
            border: 1px solid #0076AD;
            background-color: #F1FAFE;
            border-radius: 8px;
            padding: 16px;
            margin-top: 16px;

            >div {
                display: flex;
                flex-wrap: wrap;

                ul {
                    min-width: 40%;

                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
    }

    >div {
        margin-bottom: 20px;
    }
    .modal-btn{
        font-size: 14px;
        padding-left: 5px;
        vertical-align: text-bottom;
        color: #0076AD;
    }
}
h6 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 24;
    max-height: 80%;
    overflow: auto;
    ul{
        li{
            font-size: 14px;
        }
    }
    h2{
        position: relative;
        button{
            position: absolute;
            right: 0;
        }
    }
    .search-icon{
        position: absolute;
        top: 36%;
        left: 10px;
    }
    input{
        padding-left: 40px;
    }
}